In [240]:
import pandas as pd
import numpy as np

In [241]:
df_anim = pd.read_csv("animal.csv")
df_veg = pd.read_csv("vegetal.csv")
df_pop = pd.read_csv("population.csv")

<font color='green'>**1 .Nettoyer les titres de colonnes :
Supprimer les espaces au début et à la fin des titres
Remplacer les espaces par des underscores (ceux se situant entre les mots)
Tout mettre en minuscule**</font>

In [242]:
# Converti les noms de colonnes en chaînes de caractères
df_anim.columns = df_anim.columns.astype(str)


df_anim.columns = df_anim.columns.str.strip()
df_anim.columns = df_anim.columns.str.replace(" ", "_")
df_anim.columns = df_anim.columns.str.lower()

In [243]:
# Converti les noms de colonnes en chaînes de caractères
df_veg.columns = df_veg.columns.astype(str)


df_veg.columns = df_veg.columns.str.strip()
df_veg.columns = df_veg.columns.str.replace(" ", "_")
df_veg.columns = df_veg.columns.str.lower()

In [244]:
# Converti les noms de colonnes en chaînes de caractères
df_pop.columns = df_pop.columns.astype(str)


df_pop.columns = df_pop.columns.str.strip()
df_pop.columns = df_pop.columns.str.replace(" ", "_")
df_pop.columns = df_pop.columns.str.lower()

<font color='green'>**2.Quelles sont les dimensions des jeux de données ?**</font>

In [245]:
df_pop.shape

(364, 14)

In [246]:
df_anim.shape

(27713, 14)

In [247]:
df_veg.shape

(92233, 14)

<font color='green'>**3.A quoi ressemblent les 5 premières lignes de mes jeux de données ?**</font>

In [248]:
df_pop.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,36686.78,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,37769.50,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,2877.01,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,2873.88,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,41927.01,X,Figure from international organizations

In [249]:
df_anim.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value

In [250]:
df_veg.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,162.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,160.40,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value

<font color='green'>**4. Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal’ et ‘vegetal’. Une fois cette étape effectuée, regroupez les deux jeux de données en 1 et appelez ce DataFrame product. Attention à bien comprendre la structure des données pour utiliser la bonne méthode.**</font>

In [251]:
df_veg["type"] = "vegetal"
df_anim["type"] = "animal"

In [252]:
df_veg.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,162.62,E,Estimated value,vegetal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,160.40,E,Estimated value,vegetal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value,vegetal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value,vegetal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value,vegetal

In [253]:
df_anim.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value,animal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value,animal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value,animal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value,animal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value,animal

In [254]:
df_product = pd.concat([df_anim,df_veg])

In [255]:
df_product.shape

(119946, 15)

In [256]:
df_product.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value,animal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value,animal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value,animal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value,animal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value,animal

In [257]:
df_product.tail()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(fbs),item,year_code,year,unit,value,flag,flag_description,type
92228,FBS,Food Balances (2010-),716,Zimbabwe,664,Food supply (kcal/capita/day),S2899,Miscellaneous,2019,2019,kcal/cap/d,7.52,E,Estimated value,vegetal
92229,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),S2899,Miscellaneous,2018,2018,g/cap/d,0.19,E,Estimated value,vegetal
92230,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),S2899,Miscellaneous,2019,2019,g/cap/d,0.46,E,Estimated value,vegetal
92231,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),S2899,Miscellaneous,2018,2018,g/cap/d,0.03,E,Estimated value,vegetal
92232,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),S2899,Miscellaneous,2019,2019,g/cap/d,0.08,E,Estimated value,vegetal

<font color='green'>**5. Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population. Renommer la colonne ‘value’ en ‘pop_1000_hab’.**</font>

In [258]:
df_pop.columns

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(fbs)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description'],
      dtype='object')

In [259]:
df_pop = df_pop.rename(columns={'value' : 'pop_1000_hab'})

In [260]:
df_pop = df_pop.filter(["area","area_code_(m49)","year","pop_1000_hab"])
df_pop

            area  area_code_(m49)  year  pop_1000_hab
0    Afghanistan                4  2018      36686.78
1    Afghanistan                4  2019      37769.50
2        Albania                8  2018       2877.01
3        Albania                8  2019       2873.88
4        Algeria               12  2018      41927.01
..           ...              ...   ...           ...
359        Yemen              887  2019      31546.69
360       Zambia              894  2018      17835.89
361       Zambia              894  2019      18380.48
362     Zimbabwe              716  2018      15052.18
363     Zimbabwe              716  2019      15354.61

[364 rows x 4 columns]

<font color='green'>**6.Transformez product afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.**</font>

In [261]:
df_product.columns

Index(['domain_code', 'domain', 'area_code_(m49)', 'area', 'element_code',
       'element', 'item_code_(fbs)', 'item', 'year_code', 'year', 'unit',
       'value', 'flag', 'flag_description', 'type'],
      dtype='object')

In [262]:
df_product = df_product.filter(['area_code_(m49)','area','element','item','year','type','unit','pop_1000_hab'])

In [263]:
df_product.head()

,area_code_(m49),area,element,item,year,type,unit
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,animal,kg
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,animal,kg
2,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,animal,kcal/cap/d
3,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2019,animal,kcal/cap/d
4,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,animal,g/cap/d

<font color='green'>**7. Fusionnez df_pop avec product et nommez ce DataFrame df. Afin de fusionner ces jeux de données vous devez identifier les clés primaires. Renommer les colonnes comme sur le capture d’écran ci-dessous.
Note : ajouter la population à la base de données créera de la redondance dans la bdd mais simplifiera les calculs pour les questions suivantes. Ne pas supprimer df_pop.**</font>

In [264]:
df_pop.columns

Index(['area', 'area_code_(m49)', 'year', 'pop_1000_hab'], dtype='object')

In [265]:
df_product.columns

Index(['area_code_(m49)', 'area', 'element', 'item', 'year', 'type', 'unit'], dtype='object')

In [266]:
df = df_product.merge(df_pop,how='left',on=['area_code_(m49)','area','year'])

In [267]:
df.columns

Index(['area_code_(m49)', 'area', 'element', 'item', 'year', 'type', 'unit',
       'pop_1000_hab'],
      dtype='object')

In [268]:
df.head(50)

,area_code_(m49),area,element,item,year,type,unit,pop_1000_hab
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,animal,kg,36686.78
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,animal,kg,37769.50
2,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,animal,kcal/cap/d,36686.78
3,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2019,animal,kcal/cap/d,37769.50
4,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,animal,g/cap/d,36686.78
5,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2019,animal,g/cap/d,37769.50
6,4,Afghanistan,Fat supply quantity (g/capita/day),Bovine Meat,2018,animal,g/cap/d,36686.78
7,4,Afghanistan,Fat supply quantity (g/capita/day),Bovine Meat,2019,animal,g/cap/d,37769.50
8,4,Afghanistan,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,2018,animal,kg,36686.78
9,4,Afghanistan,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,2019,animal,kg,37769.50
10,4,Afghanistan,Food supply (kcal/capita/day),Mutton & Goat Meat,2018,animal,kcal/cap/d,36686.78
11,4,Afghanistan,Food supply (kcal/capita/day),Mutton & Goat Meat,2019,animal,kcal/cap/d,37769.50
12,4,Afghanistan,Protein supply quantity (g/capita/day),Mutton & Goat Meat,2018,animal,g/cap/d,36686.78
13,4,Afghanistan,Protein supply quantity (g/capita/day),Mutton & Goat Meat,2019,animal,g/cap/d,37769.50
14,4,Afghanistan,Fat supply quantity (g/capita/day),Mutton & Goat Meat,2018,animal,g/cap/d,36686.78
15,4,Afghanistan,Fat supply quantity (g/capita/day),Mutton & Goat Meat,2019,animal,g/cap/d,37769.50
16,4,Afghanistan,Food supply quantity (kg/capita/yr),Pigmeat,2018,animal,kg,36686.78
17,4,Afghanistan,Food supply quantity (kg/capita/yr),Pigmeat,2019,animal,kg,37769.50
18,4,Afghanistan,Food supply (kcal/capita/day),Pigmeat,2018,animal,kcal/cap/d,36686.78
19,4,Afghanistan,Food supply (kcal/capita/day),Pigmeat,2019,animal,kcal/cap/d,37769.50
20,4,Afghanistan,Protein supply quantity (g/capita/day),Pigmeat,2018,animal,g/cap/d,36686.78
21,4,Afghanistan,Protein supply quantity (g/capita/day),Pigmeat,2019,animal,g/cap/d,37769.50
22,4,Afghanistan,Fat supply quantity (g/capita/day),Pigmeat,2018,animal,g/cap/d,36686.78
23,4,Afghanistan,Fat supply quantity (g/capita/day),Pigmeat,2019,animal,g/cap/d,37769.50
24,4,Afghanistan,Food supply quantity (kg/capita/yr),Poultry Meat,2018,animal,kg,36686.78
25,4,Afghanistan,Food supply quantity (kg/capita/yr),Poultry Meat,2019,animal,kg,37769.50
26,4,Afghanistan,Food supply (kcal/capita/day),Poultry Meat,2018,animal,kcal/cap/d,36686.78
27,4,Afghanistan,Food supply (kcal/capita/day),Poultry Meat,2019,animal,kcal/cap/d,37769.50
28,4,Afghanistan,Protein supply quantity (g/capita/day),Poultry Meat,2018,animal,g/cap/d,36686.78
29,4,Afghanistan,Protein supply quantity (g/capita/day),Poultry Meat,2019,animal,g/cap/d,37769.50
30,4,Afghanistan,Fat supply quantity (g/capita/day),Poultry Meat,2018,animal,g/cap/d,36686.78
31,4,Afghanistan,Fat supply quantity (g/capita/day),Poultry Meat,2019,animal,g/cap/d,37769.50
32,4,Afghanistan,Food supply quantity (kg/capita/yr),"Meat, Other",2018,animal,kg,36686.78
33,4,Afghanistan,Food supply quantity (kg/capita/yr),"Meat, Other",2019,animal,kg,37769.50
34,4,Afghanistan,Food supply (kcal/capita/day),"Meat, Other",2018,animal,kcal/cap/d,36686.78
35,4,Afghanistan,Food supply (kcal/capita/day),"Meat, Other",2019,animal,kcal/cap/d,37769.50
36,4,Afghanistan,Protein supply quantity (g/capita/day),"Meat, Other",2018,animal,g/cap/d,36686.78
37,4,Afghanistan,Protein supply quantity (g/capita/day),"Meat, Other",2019,animal,g/cap/d,37769.50
38,4,Afghanistan,Fat supply quantity (g/capita/day),"Meat, Other",2018,animal,g/cap/d,36686.78
39,4,Afghanistan,Fat supply quantity (g/capita/day),"Meat, Other",2019,animal,g/cap/d,37769.50
40,4,Afghanistan,Food supply quantity (kg/capita/yr),"Offals, Edible",2018,animal,kg,36686.78
41,4,Afghanistan,Food supply quantity (kg/capita/yr),"Offals, Edible",2019,animal,kg,37769.50
42,4,Afghanistan,Food supply (kcal/capita/day),"Offals, Edible",2018,animal,kcal/cap/d,36686.78
43,4,Afghanistan,Food supply (kcal/capita/day),"Offals, Edible",2019,animal,kcal/cap/d,37769.50
44,4,Afghanistan,Protein supply quantity (g/capita/day),"Offals, Edible",2018,animal,g/cap/d,36686.78
45,4,Afghanistan,Protein supply quantity (g/capita/day),"Offals, Edible",2019,animal,g/cap/d,37769.50
46,4,Afghanistan,Fat supply quantity (g/capita/day),"Offals, Edible",2018,animal,g/cap/d,36686.78
47,4,Afghanistan,Fat supply quantity (g/capita/day),"Offals, Edible",2019,animal,g/cap/d,37769.50
48,4,Afghanistan,Food supply quantity (kg/capita/yr),"Butter, Ghee",2018,animal,kg,36686.78
49,4,Afghanistan,Food supply quantity (kg/capita/yr),"Butter, Ghee",2019,animal,kg,37769.50